.container{
    background-color: pink;
   border:3px solid black;
    outline: 5px solid black;
    outline-offset:2px ;
    height:80px;
    width:70%;
    text-align: center;
    padding:45px;
}
body{
    background-color:antiquewhite;
}
button{
    border:3px solid black;
    background-color: burlywood;
    color:blue;
}
